@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&family=Yeseva+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden
}
p,input{
    font-family: 'Work Sans', sans-serif;
}

#book img{
position: absolute; 
width: 3em;
height: 3em;
top: 0px;
background: #BFD2F8;
opacity: 0.5;
border-radius: 0 0 100% 0; 
}


#book{
    position: relative;
    background-image: url("../images/appointment-img/Rectangle3.png");
    background-size: 100% 10em;
    background-position: center;
    height: 10em;
    color: #1F2B6C;
    background-color: rgba(255, 255, 255, 0.5);
}

input::placeholder, textarea::placeholder{
    color: white;
    opacity: 1; 
  }
  
  input::-ms-input-placeholder, textarea::-ms-input-placeholder{ 
    color: white;
  }

  .bg-primary{
   background-color:#1F2B6C !important;
  }

  input[type="submit"], .bg {
      background-color: #BFD2F8 !important;
      color: #1F2B6C !important;
  }

  #schedule, #phone{
      color:#BFD2F8 !important;
      font-family: 'Yeseva One', cursive !important;
  }
  #appoint, #hl{
      color: #1F2B6C !important;
      font-family: 'Yeseva One', cursive !important;
      font-weight: 500;
  }

  .git {
    color: #159EEC;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}
.contact {
    color:  #1F2B6C;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
}
  .dark-blue {
    height: 15rem;
    width: 100%;
    background-color: #1F2B6C;
    color: #BFD2F8;
}
.sky-blue {
    height: 15rem;
    width: 100%;
    background-color:#BFD2F8;
    color: #1F2B6C;
}
.blue-content {
    line-height: 0.5rem;
    font-size: 0.8rem;
}
    #submit-btn {
    font-size: 0.8rem;
    color: #1F2B6C;
}
.text-seablue{
    color: #159EEC;
}
.text-skyblue{
    color: #BFD2F8;
}
.text-darkblue{
    color: #1F2B6C;
}
.yeseva-2{
    font-family: 'Yeseva One', cursive;
    font-size: 2rem;
}
.body{
    font-size: 1rem;
}
.small{
    font-size: 0.7rem;
}
